service fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.xiaomi_sdm660
    class late_start
    user system
    group system input

on post-fs-data
    mkdir /data/misc/fpc 0770 system system
    chown system system /data/misc/fpc/calibration_image.pndat
    chmod 0600 /data/misc/fpc/calibration_image.pndat
    mkdir /data/misc/goodix 0770 system system
    mkdir /persist/fpc 0770 system system
