# Latest versions of linux kernel do a check for dac_read_search before
# verifying dac_override capability. So adding a dont audit rule for
# dac_read_search for domains that already have dac_override exceptions
# will address denials of dac_read_search from these domains.
# kernel commit: https://github.com/torvalds/linux/commit/2a4c22426955d4fc04069811997b7390c0fb858e

dontaudit zygote self:capability dac_read_search;
